<section class="hero is-fullheight arcade-image">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1" style="font-family: 'Press+Start+2P'">---WELCOME---</h1>
            <h2 class="subtitle is-2" style="font-family: 'Press+Start+2P'">Video-Game Library</h2>
            <%= link_to "", "http://www.trex-game.skipser.com", {:style=>'color:#FFFFFF;'} %>
        </div>
    </div>
  </section>
