<% if !flash.empty? %>
  <div class="notification is-danger has-text-weight-bold">
  <%= flash[:message] %>
  </div>
<% end %>
<h1 class="has-text-weight-bold">Please Sign In</h1>
    <br>
    <form action='/login' method='post'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="email" name="email" placeholder="Email">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" name= "password" placeholder="Password">
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success">
                Login
                </button>
            </p>
        </div>
    </form>
<br>
<span><%= link_to('Log in with Facebook!', '/auth/facebook') %></span>
